
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: beige;
}

main{
  position: relative;
  flex-grow: 1;
}

img {
max-width: 200px;
height: auto;
}